#main-columns,
#skill-choice {
  border: 1px solid red;
}

#main-columns>div,
#skill-choice>div {
  border: 1px solid green;
  margin: 5px;
  padding: 15px;
}

#main-columns>div>div,
#skill-choice>div>div {
  border: 1px solid blue;
  margin: 5px;
  padding: 15px;
}

button:has(>.button-progress) {
  position: relative;
  z-index: 1;
}

.button-progress {
  background-color: darkblue;
  height: 105%;
  width: 0%;
  position: absolute;
  color: darkblue;
  z-index: -1;
  margin: -7px -13px;
  border-radius: inherit;
}